<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/changepassword.css" rel="stylesheet"/>
</head>
<body>
    <div id="change">
    <!-- <h1>Change password</h1> -->
    <form method="POST" action="/update" id="update">
        <input id="user" placeholder=" Enter username " name="username" required/>
        <input id="password" placeholder=" Old Password " name="password" required/>
        <input  id="new" placeholder="New Password" name="Newpassword" required/>
        <input  id="submit" type="submit" value="Update"/>
        <div id="error">
            <%if(error){%>
                <div style="position: relative;
                margin-top: 25px; color:white">
                <%=error %>
                </div>
                <%}%>
            </div>
    </form>
    <!-- <div id="error">
        <%if(error){%>
            <div style="position: absolute;
            margin-top: 25px; color:black">
            <%=error %>
            </div>
            <%}%>
        </div> -->
</div>
</body>
</html>