<html>
<head>
<link href="/styles/root.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
<a href="/login">
<button>LOGIN</button>
</a>
<a href="/signup">
<button>SIGNUP</button>
</a>
</div>
</body>
</html>
