body{
    background-image: url("unnamed.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#update{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 0ex;
}
#change{
    background: linear-gradient(45deg, #ff000085, #0000ff9c);
    height:auto;
    width: auto;
    padding: 30px;
    border-radius: 10px;
}
#user{
    background: linear-gradient(45deg, #ff000057, #0000ff12);
    padding: 8px;
    width: 234px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    color: white;
}
#password{
    background: linear-gradient(45deg, #ff000057, #0000ff12);
    padding: 8px;
    width: 234px;
    margin-bottom: 20px;
    margin-top: 7px;
    border-radius: 8px;
    color: white;
}

#new{
    background: linear-gradient(45deg, #ff000057, #0000ff12);
    padding: 8px;
    width: 234px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: white;
}
#submit{
    background: linear-gradient(45deg, #ff000099, #0000ff4d);
    padding: 8px;
    width: 251px;
    margin-bottom: 20px;
    border-radius: 6px;
    color: black;
    font-size: 19px;
    background-color: cornflowerblue;
    font-weight: 700;
}

